{% extends 'base.html.twig' %}

{% block title %}Modifier un congé{% endblock %}

{% block body %}
<div class="container pt-5">
    <h1>Edit Conges</h1>

    {{ include('home/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_home_index') }}">back to list</a>

    {{ include('home/_delete_form.html.twig') }}
</div>
{% endblock %}
